.main-nav{
height: 60px;
width: 100%;
background-color: #007185;
display: flex;
align-items: center;
flex-direction: row;
}
.menu-link{
 flex-direction: row;
 display: inline;
}
li{
  display:inline;
  font-size: 20px;
  margin: 20px;
  text-align:  center;
margin-left: 50px;
color:white;
}