
    div.g{background-image:url("next.png") ;
       

    }
    div.h{ border-top: 2px;
    border-color: aquamarine;
    border-left: 20px;
    font-size: x-large;
    border: 3px solid black;
    padding-left: 250px;
    padding-top: 200px;
    margin-left: 400px;
        margin-right: 400px;
        margin-top: 100px;
        margin-bottom: 40px;
    background-image: url("mountain.png");
    background-repeat: no-repeat;
    background-size: cover;
    }
    div.j{ border-top: 10px;
        border-color: aquamarine;
        border-left: 20px;
        font-size: x-large;
        border: 3px solid black;
        padding-left: 250px;
        padding-top: 50px;
        margin-left: 400px;
        margin-right: 400px;
        margin-top: 100px;
        margin-bottom: 40px;}
        div.k{ border-top: 10px;
            border-color: aquamarine;
            border-left: 20px;
            font-size: x-large;
            border: 3px solid black;
            padding-left: 250px;
            padding-top: 50px;
            margin-left: 400px;
            margin-right: 400px;
            margin-top: 100px;
            margin-bottom: 40px;}
            
            div.l{ border-top: 10px;
                border-color: aquamarine;
                border-left: 20px;
                font-size: x-large;
                border: 3px solid black;
                padding-left: 250px;
                padding-top: 50px;
                margin-left: 400px;
                margin-right: 400px;
                margin-top: 100px;
                margin-bottom: 40px;}
     