/* div.a{ font-size: large;

background-color: rgb(255, 255, 255);
background-color: bisque;
background-image : url("background.png");

}
div.b{ border-top: 2px;
border-color: aquamarine;
border-left: 20px;
font-size: x-large;
border: 3px solid rgb(0, 0, 0);
padding-left: 250px;
padding-right: 200px;
padding-top: 200px;
margin-left: 200px;
    margin-right: 200px;
    margin-top: 100px;
    margin-bottom: 100px;

background-repeat: no-repeat;
background-size: cover;
}
div.c{ border-top: 2px;
    border-color: aquamarine;
    border-left: 20px;
    font-size: x-large;
    border: 3px solid rgb(0, 0, 0);
    padding-left: 250px;
    padding-top: 200px;
    margin-left: 200px;
        margin-right: 200px;
        margin-top: 100px;
        margin-bottom: 40px;
    
    background-repeat: no-repeat;
    background-size: cover;
    }
        div.d{ border-top: 2px;
            border-color: aquamarine;
            border-left: 20px;
            font-size: x-large;
            border: 3px solid rgb(0, 0, 0);
            padding-left: 250px;
            padding-top: 200px;
            margin-left: 200px;
                margin-right: 200px;
                margin-top: 100px;
                margin-bottom: 40px;
            
            background-repeat: no-repeat;
            background-size: cover;
            }
            div.e{ border-top: 2px;
                border-color: aquamarine;
                border-left: 20px;
                font-size: x-large;
                border: 3px solid rgb(0, 0, 0);
                padding-left: 250px;
                padding-top: 200px;
                margin-left: 200px;
                    margin-right: 200px;
                    margin-top: 100px;
                    margin-bottom: 40px;
                
                background-repeat: no-repeat;
                background-size: cover;
                }
    .hero-section {
        height: 0;
    } */
div.a{

    display: flex;
    justify-content: space-between; 
}